  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#8ED0F2;
    border-radius: 5px; 
    margin:0px;
    padding-bottom: 3px;
  }
  
  li {
    float: right;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;

    
  }
  li:hover {
    background-color: #00BDFE;
    margin-right: 3px;
    border-radius:3px;
  }

  h2 {
    text-align: center;
    font-family: Arial;
    font-size: 25px;
    font-weight: none;
    margin-top: 30px;
  }
  form {
    padding-top: 40px;
    text-align: center;
    padding-right: 10px; 
  }
  fieldset{
    width: 45%;
    margin-left: 26%;
    border-radius: 5px;
    background-color: #F0F0F0;
  }
  input, select{
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  .quotes{
    text-align:center;
    display: block;
    padding-left: 20px;
    padding-top: 10px;
  }
.get{
  padding-top:0;
  justify-content:center;
  align-items: center;
  width: 40%;
  padding-left:31%;
}
.right {
flex: 50%;
}
.medications .left{
  float: left;
}
.medication .right {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  display:inline-block;
}
.medication  .card{
    padding: 2px 16px;
}
::placeholder{
  color: black;
  font-family: Arial;
}
.reminderForm {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.subBut {
  width: 20%;
  margin-left: auto;
  display: block;
  margin-right: auto;
}
label {
  font-family: Arial;
  float: left;
}
.left {
  float: left;
  display: inline-block;
  width: 45%;
}
.right {
  float: right;
  display: inline-block;
  width: 50%;
}
.container {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}
.card {
  padding-top: 3%;
  font-family: Arial;
  margin: 25px;
  border: 10px #00BDFE;
}
.buttonGroup {
  padding: 10px;
  position: relative;
  background-color: #fff;
  align-items: center;
  margin: 10px;
}

.newButton {
  display: inline-block;
  width: 25%;
  text-align: center;
  border: gray;
  background-color: #9EB6FF;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  margin-right: 25px;
  align-items: center;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
<<<<<<< HEAD

.outside {
  margin-left: 20px;
  margin-right: 20px;
}
=======
.footer {
  position: fixed;
  bottom: 0;
  width: 99%;
  border-radius: 5px; 
  background-color: #9eb6ff;
  color: white;
  text-align: center;}
  p{
    text-align: center;
  }
  .Logo {
    background-image: url(./logo.png);
  }
>>>>>>> KritiBranch
