/*.App {
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#8ED0F2;
    border-radius: 5px; 
    margin:0px;
    padding-bottom: 3px;
  }
  
  li {
    float: right;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: Arial;
    font-size: 15px;
    margin-top: 5px;
    font-weight: bold;

    
  }
  li:hover {
    background-color: #00BDFE;
    margin-right: 3px;
    border-radius:3px;
  }

  h2 {
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    font-weight: none;
    margin-top: 30px;
  }
  form {
    padding-top: 40px;
    text-align: center;
    padding-right: 10px; 
  }
  button {
    margin-left: 60%;
    margin-top: 15px;
    text-align: center; 
    width: 20%;
    background-color: #8ED0F2;
    color: white;
    padding: 14px 16px;
    margin: 15px 205px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;

  }
  fieldset{
    width: 45%;
    margin-left: 26%;
    border-radius: 5px;
    background-color: #F0F0F0;
  }
  input {
  width: 100%;
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
  .quotes{
    text-align:center;
    display: block;
    padding-left: 20px;
    padding-top: 10px;
  }
.get{
  padding-top:0;
  justify-content:center;
  align-items: center;
  width: 40%;
  padding-left:31%;
}
.right {
flex: 50%;
}
.medications .left{
  float: left;
}
.medication .right {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  display:inline-block;
}
.medication  .card{
    padding: 2px 16px;
}
::placeholder{
  color: black;
  
}
.footer {
  position: fixed;
  bottom: 0;
  width: 99%;
  border-radius: 5px; 
  background-color: #9eb6ff;
  color: white;
  text-align: center;}
  p{
    text-align: center;
  }
  .Logo {
    background-image: url(./logo.png);
  }
